PyQt6>=6.6.0
pandas>=2.1.0
openpyxl>=3.1.2
bcrypt>=4.0.1
reportlab>=4.0.4
lxml>=4.9.3
xhtml2pdf>=0.2.11
paho-mqtt>=2.0.0
matplotlib>=3.8.0
numpy>=1.26.0
seaborn>=0.13.0

# Dùng lightmode để giao diện có thể hiện thị đẹp nhẩt
# Trước khi mở hãy chạy iot_simulator.py trước để mqtt có thể kết nối đến điện nước
